$very-light-grayish-blue:hsl(240, 78%, 98%);
$light-grayish-blue:hsl(234, 14%, 74%);
$grayish-blue:#A2A7F0;
$dark-grayish-blue:#696EDD;
$text-color-dark:#4A4D60;
$font-family:'Montserrat',
sans-serif;
$weight-bold:700;
.pricing-section {
    padding: 4% 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pricing-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        .pricing-heading {
            font-family: $font-family;
            color: $grayish-blue;
        }
        .switch {
            margin: 10px auto 40px;
            justify-content: center !important;
            .options {
                font-size: 20px;
                color: $light-grayish-blue;
                font-family: $font-family;
            }
        }
        .pricing-container {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-family;
            .pricing-container-card {
                background: white;
                box-shadow: 0 6px 20px gray;
                width: 400px;
                height: 500px;
                text-decoration: none;
                border-radius: 10px;
                &:nth-child(2) {
                    transform: scale(1.1);
                    background: linear-gradient( 90deg, $grayish-blue, $dark-grayish-blue);
                    color: $very-light-grayish-blue;
                    z-index: 5;
                    &:hover {
                        transform: scale(1.11);
                    }
                }
                &:hover {
                    transform: scale(1.06);
                    transition: all 0.3s ease-out;
                }
                .pricing-container-cardInfo {
                    display: flex;
                    flex-direction: column;
                    padding: 5%;
                    height: 500px;
                    align-items: center !important;
                    & h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                        &.light {
                            color: $text-color-dark;
                        }
                    }
                    & h2 {
                        font-size: 80px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        &.light {
                            color: $text-color-dark;
                        }
                    }
                    .pricing-container-features {
                        margin: 1% 2%;
                        list-style: none;
                        padding-left: 0;
                        padding-bottom: 30px;
                        display: flex;
                        flex-direction: column;
                        &.light {
                            color: $text-color-dark;
                        }
                        & hr {
                            width: 100%;
                            color: $very-light-grayish-blue;
                        }
                        & li {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:756px) {
    .pricing-wrapper {
        margin: 0 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        .pricing-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100% !important;
            &-card {
                width: 100%;
                &:nth-child(2) {
                    transform: scale(1) !important;
                    margin: 30px;
                    &:hover {
                        transform: none !important;
                    }
                }
                &:hover {
                    transform: none !important;
                }
            }
        }
    }
}